/* Books Component */
.book-list {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  flex-wrap: wrap; 
}

/* BookCard.css */
.book-card {
  border: 1px solid #D1BB9E; 
  border-radius: 12px; 
  overflow: hidden;
  margin: 15px;
  width: 220px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  
  background-color: #FFF2E1; 
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.book-card .book-image {
  width: 100%;
  height: 180px; 
  object-fit: cover;
}

.book-card .book-details {
  padding: 12px;
  color: #301934;
  font-size: 1rem;
  font-weight: bold;
}

.book-card .book-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #EAD8C0; 
}

.book-card button {
  background-color: #A79277; 
  color: #FFF2E1;
  border: none;
  padding: 8px 12px;
  border-radius: 6px; 
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.book-card button:hover {
  background-color: #D1BB9E; 
}

.book-card .btn-link {
  text-decoration: none;
  color: #FFF2E1; 
}
