.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A79277; 
  color: #FFF2E1; 
  height: 92vh;
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero-text {
  font-size: 2.5rem;
  margin-bottom: 20px;
  word-spacing: 0.1rem;
  letter-spacing: 0.05rem; 
  color: #D1BB9E; 
  text-transform: uppercase; 
}
.hero-description {
  font-size: 1.2rem;
  max-width: 1200px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
  color: #EAD8C0; 
}

.hero-image {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-top: 20px;
  background: url('/Images/sabaragamuwa-university.jpg') center center no-repeat;
  background-size: contain;
  border-radius: 10px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

