* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #8A6854; 
  color: #FFF2E1; 
  padding-inline: 45px;
  border-bottom: 2px solid #D1BB9E; 
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 10; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 2rem; 
  margin-right: 20px;
  text-decoration: none;
  color: #FFF2E1; 
  font-weight: bold;
  letter-spacing: 0.05rem; 
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #FFF2E1;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.1rem;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px; 
}

.navbar-link:hover {
  background-color: #D1BB9E; 
  color: #A79277; 
  text-decoration: none; 
}

